<mat-toolbar class="navbar">
  <div class="navbar-right">
    <button mat-button (click)="showUserManagement()">Gestion Utilisateur</button>
    <button mat-button (click)="showProductManagement()">Gestion Produit</button>
    <button mat-button (click)="showProductList()">Liste des Produits</button> <!-- ✅ Nouveau bouton -->
  </div>
</mat-toolbar>

<div class="content">
  <!-- Gestion des utilisateurs -->
  <div *ngIf="isUserManagement">
    <app-user-managerment></app-user-managerment>
  </div>

  <!-- Gestion des produits -->
  <div *ngIf="isProductManagement">
    <app-productmanagement></app-productmanagement>
  </div>

  <div *ngIf="isProductList">
    <app-product-list></app-product-list>
  </div>
</div>
